.carouselMain {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.35);
}

.item {
  min-height: 100vh;
  width: 100%;
}

img {
  height: 100%;
  position: absolute;
  width: 100vh;
}

#back {
  position: absolute;
  font-size: 3em;
  color: #fff;
  cursor: pointer;
  right: 0;
}

#next {
  position: absolute;
  font-size: 3em;
  color: #fff;
  cursor: pointer;
  left: 0%;
}

#next:hover,
#back:hover {
  color: #ed5f30;
}
.containerBtn {
  position: relative;
  right: 38%;
}
.btnMore {
  color: #ffffff;
  background-color: #ed5f30;
  font-family: "Nunito Sans";
  border-radius: 20px !important;
}

@media (min-width: 320px) {
  .btnMore {
    position: absolute;
    left: 22%;
    margin: auto;
    width: 150px;
    height: 35px;
  }
}

@media (min-width: 768px) {
  .containerBtn {
    justify-content: center;
    position: relative;
    right: 57%;
    top: 4%;
    margin: 2px;
  }
  .btnMore {
    width: 225px;
    height: 45px;
    padding: 5px;
    font-family: "Nunito Sans";
    font-size: 15px;
  }
}

.btnMore:hover,
.btnMore:active {
  color: white;
  background-color: #231f20;
  border-radius: 20px;
}
