/*.use-bootstrap {
  background-color: rebeccapurple;
  position: relative;
  width: 100%;
  min-height: 100vh;
}
.carouselMain {
  position: absolute;
  flex-direction: column;
  justify-content: center;
  height: 80%;
  width: 80%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-family: Montserrat, sans-serif !important;
  background-color: chartreuse;
  z-index: 1000;

 padding-top: 80px;

  box-sizing: border-box;
}  
*/
.use-bootstrap {
  /*background-color: #0961ad;*/
  display: flex;
  position: relative;
  justify-content: center;
  /* height: 50%;*/
}
.carouselMain {
  background-color: rgba(0, 0, 0, 0.35);
  display: flex;

  position: absolute;
  /* height: 500px;*/
}

.item {
  min-height: 100%;
  width: 100%;
  position: absolute;
}

#back {
  position: absolute;
  font-size: 3em;
  color: #fff;
  cursor: pointer;
  right: 0;
}

#next {
  position: absolute;
  font-size: 3em;
  color: #fff;
  cursor: pointer;
  left: 0%;
}

#next:hover,
#back:hover {
  color: #0961ad;
}
